
body{
    background-image: linear-gradient(white,black);
}

header img{
    width: 100%;
    height: auto;
    max-width: 200px;
    
}
nav{
    /*border-top: solid 0.3em black;
    border-bottom: solid 0.3em black;
    background-color: whitesmoke;*/
    font-weight: bold;
    border-radius: 1em;
    text-align: center;
    padding-right:8% ;
}
nav ul{
    padding-top:0.5em;
    padding-bottom:0.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 02;
}
nav ul li{
    background-color: black;
    padding:1em;
    min-width: 12%;
    margin:0.25em;
    list-style-type:none;
}
nav ul li a{
    text-decoration: none;
    color: white
}
figure{
    text-align: center;
    background-color: white;
}
figure img{
 
    max-width: 600px;
    max-width: 300;
    width: 100%;
    height: auto;
}

footer{
    margin-top: 15pt;
    border-top: solid 0.3em black;
    border-bottom: solid 0.3em black;
    border-radius: 1em;
    background-image: linear-gradient(to right , white,grey);
    background-image: linear-gradient(to left white, grey);

    padding-left: 10px;
    padding-bottom: 15px;
    text-align: center;

}
main{
    background-color: whitesmoke;
    border-radius: 1em;
    margin-top: 15pt;
    background-image: linear-gradient(white,white,grey);
    min-height: 350px;
    border-top: solid 0.3em black;
    border-bottom: solid 0.3em black;
    padding: 1em;
}
main .row:after{
    content: "";
    display: table;
    clear:both;

}
.scheduele table{
    
    border: 0.1em solid black;
    border-collapse:collapse;
    width: 95%;
    margin-left:2.5%;
    background-color: white;

}
.scheduele caption{
    
    border: 0.1em solid black;
    font-size: 1.5em;
    font-weight: bold;
}
.scheduele th,.scheduele td{
    
    border: 0.1em solid black;
    padding:0.5;
    text-align: center;

}
.scheduele th{

    background-color: black;
    color: white;
}
div .column{
    float:left
}
div .left{
    float:left;
    width: 20%;
    padding:10px;

}
div .center{
    padding:10px;
    border-right: 3px solid black;
    border-left: 3px solid black;

}
div .right{
    float:right;
    padding-right: 2.2em;
    width: 37%;


}


#enrollprice{
    border: 0.1em solid black;
    border-collapse: collapse;

}
#enrollprice td{
    border: 0.1em solid black;
    padding: 0.5em;
    text-align: center;
}
/*mobile begin*/
@media screen and (max-width:640px){
    nav ul li{
        border-radius:  1em;
    }
    .tablet{
        display: none;
    }
    .desktop{
        display: none;
    }
    div .center{
        border-right: 0px solid black;
        border-left: 0px solid black;
    }
    figure img{
 
        max-width: 400px;
        max-width: 200;
    }
/*end mobile*/
}
/*tablet begin*/
@media screen and (min-width:641px){
    nav ul li{
        border-radius:  1.2em;
        padding: .4em;
        display: inline-block;
        box-shadow: 0.5em 0.5em 0.5em black;
    }
    .desktop{
        display: none;
    }
    div .right{
        width: 30%;
    
    }
    figure{
        box-shadow: 0.5em 0.5em 0.5em black;

    }
    main{
        box-shadow: 0.5em 0.5em 0.5em black;
    }
    div .center{
        width:60%
    }
    
}

/*end tablet*/
/*desktop begin*/
@media screen and (min-width:961px){
    header{
        background-image: linear-gradient(to right , white,black,black,black);
        box-shadow: 0.5em 0.5em 0.5em black;

    }

    header img{
        width: auto;
        height: 8em;
    }
    .desktop{
        display: block;
    }
    nav{
        float: right;
        margin-top: -6em;
        width: 50%;
        background-color: black;
    }
    
    div .center{
        padding:10px;
        width: 48%;
       
    }
    div .right {
        width: 24%;

    }
    div .left{
        width: 19%;
    }

}


/*end desktop*/